.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
ul{
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;;
}
a{
    text-decoration: none;
    color: currentColor;
}
h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0;
    margin-top: 0;
}
address{
    font-style: normal;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*// <uniquifier>: Use a unique and descriptive class name

.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.container{
    width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
.header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    width: 320px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.headr-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
.headr-logo-blue{
    color: #2e2f42;
}
.header-all{
    display: flex;
    align-items: center;
    /*flex-grow: 1;*/
    margin-right: auto;
}
.header-list{
    display: none;
    gap: 40px;
}
.headr-main{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.headr{
    position: relative;
    color: #404bbf;
    
}
.headr-main:hover{
    color: #404bbf;
}
.headr-main:focus{
    color: #404bbf;
}
.headr::after{
    content: '';
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404BBF;
    display: flex;
    position: absolute;
    left: 0;
    bottom: -28px;
}
.headr-addres{
    display: none;
    font-style: normal;
    margin-right: 0;
}
.headr-addres-all{

}
.head-infoa{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin-bottom: 12px;
}
.head-info{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-info:hover{
    color: #404bbf;
}
.head-info:focus{
    color: #404bbf;
}
.headr-svg{
    margin-right: 0;
}
.close-menu{
    border: none;
    background-color: #fff;
}
@media screen and (min-width:768px) {
    .header-container{
        width: 768px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .header-list{
        display: flex;
        gap: 40px;
    }
    .headr-addres{
        display: block;
    }
    .headr-svg{
        display: none;
    }
}
@media screen and (min-width:1158px) {
    .header-container{
        width: 1158px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .head-infoa{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 0;
    }
    .head-info{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 0;
    }
    .headr-addres-all{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}
.mob-menu {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 40px 16px;
    left: 0;
}

.mob-close {
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 24px;
    border-radius: 50%;
    stroke: rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-close:hover {
    background-color: #404bbf;
    border: none;
}

.mob-close:hover .mob-close-svg {
    fill: #ffffff;
}

.mob-close:focus {
    background-color: #404bbf;
    border: none;
}

.mob-close:focus .mob-close-svg {
    fill: #ffffff;
}

.mob-all {
    margin-bottom: auto;
}

.mob-list {
    margin-bottom: 40px;
}

.mob-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.mob-main:hover {
    color: #404bbf;
}

.mob-main:focus {
    color: #404bbf;
}

.mob-addres {
    margin-bottom: 48px;
}

.mob-addres-all {
    margin-bottom: 24px;
}

.mob-info {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
}
.mob-info:hover {
    color: #404bbf;
}

.mob-info:focus {
    color: #404bbf;
}

.mob-soc {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.mob-pos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}
.mob-pos:hover {
    background-color: #404bbf;
}

.mob-pos:focus {
    background-color: #404bbf;
}

.mob-pos-qaz {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
}
.mob-pos-qaz:hover {
    background-color: #404bbf;
}

.mob-pos-qaz:focus {
    background-color: #404bbf;
}

.mob-pos-svg {
    fill: #f4f4fd;
    stroke: #FFFFFF;        ;
}

.main-seca{
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.jpg);
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (min-device-picel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .main-seca{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bgx2.jpg);
    }
}
.main-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
}

.main-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    margin-top: 72px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn:hover{
    background-color: #404BBF;
}
.main-btn:focus{
    background-color: #404BBF;
}
@media screen and (min-width:768px) {
    .container{
        width: 768px;
    }
    .main-seca{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bgp.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;
    }
    @media screen and (min-device-picel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .main-seca{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bgpx2.jpg);
        }
    }
    .main-text {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
    .main-btn {
        margin-top: 36px;
    }
}
@media screen and (min-width:1158px) {
    .container{
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-seca{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
    }
    @media screen and (min-device-picel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .main-seca{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-officex2.jpg);
        }
    }
    .main-btn {
        margin-top: 48px;
    }
}
.main-secb{
    padding-top: 96px;
    padding-bottom: 96px;
}
.secb-block{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 72px;
}
.secb-block-text{
    width: 100%;

}
.secb-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.secb-svg{
    fill: #2e2f42;
    /*stroke: #2e2f42;*/
}
.secb-svg-svg{
    display: none;
}
    
.secb-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width:768px) {
    .secb-block{
        gap: 72px 24px;
    }
    .secb-block-text{
        width: calc((100% - 24px) / 2);
    }
    .secb-main {
        text-align: left;
    }
}
@media screen and (min-width:1158px) {
    .main-secb{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .secb-block{
        flex-wrap: nowrap;
        gap: 24px;
    }
    .secb-block-text{
        width: calc((100% - 3 * 24px) / 4);
    }
    .secb-svg-svg{
        margin: auto;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
    .secb-main {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .secb-text {
        font-weight: 400;
    }
}
.secc{
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}
.secc-container{
    width: 296px;
}
.secc-block{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.secc-main { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.secc-list{
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 0 0 4px 4px;
    /*padding: 0px 0px 32px 0px;*/
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.secc-img-main {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /*margin-top: 32px;*/
    margin-bottom: 8px;
}

.secc-img-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.secc-pocada{
    padding: 32px 16px;
}
.secc-soc{
    display: flex;
    gap: 24px;
    /*align-items: center;*/
    justify-content: center;
}
.secc-pos{
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-bottom: 8px;*/
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}
.secc-pos:hover{
    background-color: #404bbf;
}
.secc-pos:focus{
    background-color: #404bbf;
}
.secc-pos-svg{
    fill: #f4f4fd;
    stroke: #FFFFFF/*F4F4FD*/;
}
.secc-pos-qaz{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}
.secc-pos-qaz:hover{
    background-color: #404bbf;
}
.secc-pos-qaz:focus{
    background-color: #404bbf;
}
@media screen and (min-width:768px) {
    .secc-container{
        width: 584px;
    }
    .secc-block{
        gap: 64px 24px;
    }
    .secc-list{
        width: calc((100% - 24px) / 2);
   }
}
@media screen and (min-width:1158px) {
    .secc{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .secc-container{
        width: 1158px;
    }
    .secc-block{
        flex-wrap: nowrap;
        gap: 24px;
    }
    .secc-list{
        width: calc((100% - 3 * 24px) / 4);
    }
}
.secd{
    padding-top: 96px;
    padding-bottom: 96px;
}
.secd-block{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}
.secd-block-all{
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}
.secd-block-qaz{
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.secd-block-qaz:hover .secd-par{
    transform: translateY(0);
}
.secd-block-qaz:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.secd-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.secd-img{
    position: relative;
    overflow: hidden;
}
.secd-par{
    position: absolute;
    top: 0;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    transform: translateY(100%);
    padding: 40px 32px;;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.secd-img-main {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.secd-img-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width:768px) {
    .secd-block{
        gap: 72px 24px;
    }
    .secd-block-qaz{
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width:1158px) {
    .secd{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .secd-block{
        gap: 48px 24px;
    }
    .secd-block-qaz{
        width: calc((100% - 48px) / 3);
    }
}
.foot {
    background: #2e2f42;
    padding-top: 97px;
    padding-bottom: 96px;
}
.foot-container{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    align-items: center;
    justify-content: center;
}

.foot-main {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: /*inline-*/block;
    margin-bottom: 16px;
    text-align: center;
}

.foot-main-text {
    color: #f4f4fd;
}

.foot-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}
.foot-text-two{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
.foot-soc{
    display: flex;
    gap: 16px;
    /*align-items: center;*/
    justify-content: center;
}
.foot-pos{
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-bottom: 8px;*/
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-pos:hover{
    background-color: #31D0AA;
}

.foot-two{
    align-items: center;
    justify-content: center;
}
.foot-div{

}
.foot-pos-qaz{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-pos-qaz:hover{
    background-color: #31d0aa;
}
.foot-pos-qaz:focus{
    background-color: #31d0aa;
}
.foot-mail{
    padding-right: 0;
}
.foot-mail-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color:  #fff;
    margin-bottom: 16px;
    text-align: center;
}
.foot-mail-btn{
    align-items: center;
    justify-content: center;
}
/*.foot-label{

}*/
.foot-input{
    border: 1px solid #fff;;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
    background: transparent;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    margin-bottom: 16px;
}
.foot-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    min-width: 165px;
    cursor: pointer;
    margin: 0 auto;
}
.foot-btn-svg{
    fill: #fff;
    margin-left: 16px;
}
@media screen and (min-width:768px) {
    .foot {
        /*padding-left: 92px;*/
    }
    .foot-container{
        gap: 74px 24px;
        align-items: baseline;
        justify-content: left;
        max-width: 530px;
    }
    .foot-main {
        display: inline-block;
    }
    .foot-text {
        max-width: 264px;
    }
    .foot-text-two{
        display: flex;
    }
    .foot-two{
        /*display: flex;*/
        align-items: baseline;
        gap: 120px;
        margin-right: auto;
    }
    .foot-mail{
        padding-left: 0;
    }
    .foot-mail-btn{
        display: flex;
        gap: 24px;
    }
    .foot-mail-text{
        text-align: left;
    }
    .foot-input{
        margin-bottom: 0;
        width: 264px;
    }
}
@media screen and (min-width:1158px) {
    .foot {
        padding-top: 101px;
        padding-bottom: 100px;
        padding-left: 0;
    }
    .foot-container{
        flex-wrap: nowrap;
        gap: 0;
        max-width: none;
    }
    .foot-div{
        margin-right: 120px;
    }
}
.backgrop{
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close{
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 24px;
    border-radius: 50%;
    stroke: rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-svg{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
    background-color: #404bbf;
    border: none;
}
.modal-close:hover .modal-close-svg{
    fill: #ffffff;
}
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close:focus .modal-close-svg{
    fill: #ffffff;
}
.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
/*.modal-form{

}*/
.modal-input{
    background-color: transparent; 
    outline: transparent;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    /*background: #fcfcfc;*/
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
    border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}
.modal-send{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    display: block;
    min-width: 169px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: calc((100% - 169px) / 2);
}
.modal-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}
.modal-form-icon{
    margin-bottom: 8px;
}
.modal-form-ico{
    margin-bottom: 16px;
}
.modal-icon{
    position: absolute;
    fill: #2e2f42;
    stroke: #2E2F42;
    left: 16px;
    top: 50%;
    /*transform: translateY(-75%);*/
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-wrap{
    position: relative;
}
.modal-form-txt{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    resize: none;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-txt:focus {
    border-color: #4D5AE5;
}
.modal-chec {
    margin-bottom: 24px;
}
/*.modal-chec-input {
}*/
.modal-chec-label {
    font-weight: 400;
    line-height: 117%;
    font-size: 12px;
    color: #8e8f99;
    letter-spacing: 0.04em;
    /*display: inline-flex;*/
    align-items: center;
    margin-bottom: 24px;
}
/*.modal-chec-label span{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    /*display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    display: inline-flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.modal-link {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.modal-chec-input:checked + .modal-chec-label span {
    background-color: #404bbf;
    border: #404bbf;
    fill: #f4f4fd;
}
/*.modal-chec-svg{
    display: inline-flex;
}*/
.qaz{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    display: inline-flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width:768px) {
    .modal{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
    .modal-form-txt{
        width: 360px;
    }
}